* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

nav {
  background-color: rgba(16,16,16,.5);
  width: 350px;
  height: 100vh;
  left: -350px;
  position: absolute;
  transition: .5s;
}

input:checked ~ nav {
  transform: translateX(350px);
}

input {
  display: none;
}

label {
  font-size: 50px;
  background-color: brown;
}