@mixin for-phone-only {
  @media (max-width: 799.98px) { @content; }
}

@mixin for-tablet-only {
  @media (min-width: 800px) and (max-width: 1299.98px) { @content; }
}

@mixin for-desktop-only {
  @media (min-width: 1300px) { @content; }
}

/*
@mixin container($bgcolor: $primary-medium, $padding: $big) {
  width: 100%;
  max-width: 1170px;
  background-color: $bgcolor;
  //margin-left: auto;
  //margin-right: auto;
  // margin: 0 auto;
  border: 2px solid white;
}
*/