/** BANNER **/
.banner {
  @include container;
  padding: $bigest;
  background: url(../img/banner.jpg) no-repeat center/cover;
  text-align: center;
  font-size: 1.9rem;
  color: $primary-text-color;
  position: relative;

  & img {
    height: 270px;
    @include for-phone-only {
      height: 220px;
    }
  }

  &__subtitle {
    font-size: 1.9rem;
    font-weight: 400;
    margin: $medium;
  }

  &__button {
    @include button(solid);
    &:hover {
      background-color: darken($secondary, 15);
    }
  }
}
