/** ESTILOS **/
.estilos {
  @include container;
  padding-top: $divider;

  & a {
    color: $primary-text-color;
  }

  @include for-phone-only {
    padding-top: $bigest
  }
  
  &__title {
    @include title;
  }
  
  &__container {
    display: flex;
    gap: $big;

    @include for-phone-only {
      flex-wrap: wrap;
      gap: $medium;
    }
  }
  
  &__card {
    width: 100%;
    // flex-grow: 1; //cresce quando :hover
    height: 310px;
    padding: $big;
    background: no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include for-phone-only {
      width: calc(50% - #{$medium/2});
    }

    &:nth-child(1) { background-image: url(../img/style-luzes.jpg); }
    &:nth-child(2) { background-image: url(../img/style-barba.jpg); }
    &:nth-child(3) { background-image: url(../img/style-tranca.jpg); }
    &:nth-child(4) { background-image: url(../img/style-samurai.jpg); }

    @include for-desktop-only {
      &:hover {
        filter: opacity(.8);
  
        & > .estilos__card_sub {
          display: block;
        }
      }
    }

    &_title {
      font-size: 3rem;
      margin: $small;
      line-height: .5;
    }

    &_sub {
      display: none;
      font-family: Arial, Helvetica, sans-serif;
      margin: $small;
    }
  }
}