/** HEADER **/
.header {
  width: 100%;
  background-color: $primary-dark;
  box-shadow: 0 0 15px rgba($primary-dark, .5);
  font-size: 1.25rem;
  // position: fixed;
  // z-index: 1;
  // display: flex;
  // justify-content: center;

  &__container {
    @include container(none);
    margin: 0 auto;
    padding: $medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-desktop-only {
      padding: $big;
    }
  }

  &__social {
    font-size: 1.75rem;
    @include link($secondary);
    & a {
      margin-left: $small;
    }
    /*
    & a { 
      margin-left: $small;
      color: $secondary;
      &:hover {
        color: darken($secondary, 15);
      }
    }
    */
  }

  & input { display: none; }

  & input:checked ~ &__nav {
    transform: scaleX(1) translateX(-300px);
    box-shadow: 0 0 0 1000px rgba($primary-dark, .5);
  }
  
  & input:checked + label {
    transform: rotate(90deg);
    &::before {
      content: "\F0156";
    }
  }
  
  & label {
    display: none;
    color: $secondary;
    font-size: 1.75rem;
    z-index: 2;
    transition: all .3s;
    @include for-phone-only { display: block; }
  }
 
  &__nav {
    @include for-phone-only {
      transform: scaleX(0);
      position: absolute;
      background-color: $primary-dark;
      width: 300px;
      height: 100vh;
      top: 0;
      right: -300px;
      transition: all .3s;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
    }
  }

  &__list {
    display: flex;
    @include for-phone-only {
      display: block;
      text-align: center;
    }
  }
  
  &__item {
    padding: 0px $bigest;
    @include link(white);
    @include for-phone-only {
      font-size: 1.65rem;
      margin: $bigest;
    }
  }
  
  &__whatsapp {
    @include link($secondary);
    @include for-phone-only {
      display: none;
    }
  }
}
