@mixin for-phone-only {
  @media (max-width: 799.98px) { @content; }
}

@mixin for-tablet-only {
  @media (min-width: 800px) and (max-width: 1199.98px) { @content; }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) { @content; }
}

@mixin container($bgcolor: $primary-medium) {
  width: 100%;
  max-width: $max-width;
  // padding: $small;
  // @include for-desktop-only() {
  //   padding: $big;
  // }
  background-color: $bgcolor;
  // border: 2px solid white;
}

@mixin link($color) {
  & a { 
    color: $color;
    &:hover {
      color: darken($color, 15);
    }
  }
}

@mixin title {
  color: $secondary;
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: $big;
}

@mixin button($type: solid){
  display: inline-block;
  width: 200px;
  padding: $medium;
  font-size: 1.2rem;
  // font-weight: bold;
  // letter-spacing: .05rem;
  @if $type == solid {
    color: $primary-dark;
    background-color: $secondary;
    border: none;
  } @else {
    color: $secondary;
    background-color: transparent;
    border: 1px solid $secondary;
  }
}