html, body, form {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", "Myriad Pro", sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
}

ul {
  list-style: none;
}

input[type="text"] {
  border: 1px solid #999;
}

a {
  color: #039;
  text-decoration: none;
}

a:hover {
  color: #03c;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/bebas-neue-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/bebas-neue-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/bebas-neue-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/bebas-neue-v2-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
}



