@import '../css/normalize.css';
/*
@mixin container($bgcolor: $primary-medium, $padding: $big) {
  width: 100%;
  max-width: 1170px;
  background-color: $bgcolor;
  //margin-left: auto;
  //margin-right: auto;
  // margin: 0 auto;
  border: 2px solid white;
}
*/
/*
html, body, form {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", "Myriad Pro", sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border: 1px solid #999;
}
*/
ul, li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #faac26;
  text-decoration: none;
}
a:hover {
  color: #cf8405;
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v2-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/bebas-neue-v2-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas-neue-v2-latin-regular.woff2") format("woff2"), url("../fonts/bebas-neue-v2-latin-regular.woff") format("woff"), url("../fonts/bebas-neue-v2-latin-regular.ttf") format("truetype"), url("../fonts/bebas-neue-v2-latin-regular.svg#BebasNeue") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "Bebas Neue", "Myriad Pro", sans-serif;
  background-color: #161616;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media (min-width: 1300px) {
  body {
    background-image: url("../img/background-image.svg");
    background-blend-mode: multiply;
  }
}

.header {
  width: 100%;
  background-color: #0b0b0b;
  box-shadow: 0 0 15px rgba(11, 11, 11, 0.5);
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}
.header__container {
  width: 100%;
  max-width: 1170px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social {
  font-size: 1.75rem;
}
.header__social a {
  margin-left: 0.25rem;
}
.header input {
  display: none;
}
.header input:checked ~ .header__nav {
  transform: translateX(-300px);
  box-shadow: 0 0 0 1000px rgba(11, 11, 11, 0.5);
}
.header input:checked + label {
  transform: rotate(90deg);
}
.header label {
  display: none;
  color: #faac26;
  font-size: 1.75rem;
  z-index: 1;
  transition: all 0.3s;
}
@media (max-width: 799.98px) {
  .header label {
    display: block;
  }
}
.header__nav {
  background-color: none;
}
@media (max-width: 799.98px) {
  .header__nav {
    position: absolute;
    background-color: #0b0b0b;
    width: 300px;
    height: 100vh;
    top: 0;
    right: -300px;
    transition: all 0.3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.header__list {
  display: flex;
}
@media (max-width: 799.98px) {
  .header__list {
    display: block;
    text-align: center;
  }
}
.header__item {
  padding: 0px 1.5rem;
}
.header__item a {
  color: white;
}
.header__item a:hover {
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 799.98px) {
  .header__item {
    font-size: 1.65rem;
    margin: 1.5rem;
  }
}
@media (max-width: 799.98px) {
  .header__whatsapp {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
